<div class="accordion-body">
  <div class="row">
    <div class="col">
      <h5>aktivierte R채ume:</h5>
      <div class="list-group">
        <% @active_rooms.each do |r| %>
          <div class="list-group-item">
            <div class="row">
              <div class="col">
                <%= r.name %>
              </div>
              <div class="col">
                <%= form_for admincorner_path do |f| %>
                  <%= f.hidden_field :method, value: :deactivate_room %>
                  <%= f.hidden_field :id, value: r.id %>
                  <%= f.submit "Deaktivieren", class: "btn btn-info" %>
                <% end %>
              </div>
              <div class="col">
                <%= render partial: "edit_room_modal", locals: { room: r } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col">
      <h5>deaktivierte R채ume:</h5>
      <div class="list-group">
        <% @inactive_rooms.each do |r| %>
          <% unless r.deleted %>
            <div class="list-group-item">
              <div class="row">
                <div class="col">
                  <%= r.name %>
                </div>
                <div class="col">
                  <%= form_for admincorner_path do |f| %>
                    <%= f.hidden_field :method, value: :activate_room %>
                    <%= f.hidden_field :id, value: r.id %>
                    <%= f.submit "Aktivieren", class: "btn btn-info" %>
                  <% end %>
                </div>
                <div class="col">
                  <%= render partial: "shared/delete_prompt_modal", locals: { user: r } %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <h5>Raum hinzuf체gen:</h5>
  <%= form_for admincorner_path do |f| %>
    <%= f.hidden_field :method, value: :add_room %>
    <div class="row add-user-row">
      <div class="col-1">
        <%= f.label "Name:" %>
      </div>
      <div class="col-3">
        <%= f.text_field :name, class: "add-user-field" %>
      </div>
      <div class="col-1">
        <%= f.label "Beschreibung:", class: "align-top" %>
      </div>
      <div class="col-5">
        <%= f.text_area :description, class: "add-room-description" %>
      </div>
      <div class="col-2">
        <%= f.submit "Hinzuf체gen", class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
</div>