<div class="accordion-body">
  <div class="row">
    <div class="col">
      <h5>aktivierte User:</h5>
      <div class="list-group">
        <% @active_users.each do |u| %>
          <div class="list-group-item">
            <div class="row">
              <div class="col">
                <%= u.name %>
              </div>
              <div class="col">
                <%= form_for admincorner_path do |f| %>
                  <%= f.hidden_field :method, value: :deactivate %>
                  <%= f.hidden_field :id, value: u.id %>
                  <%= f.submit "Deaktivieren", class: "btn btn-info" %>
                <% end %>
              </div>
              <div class="col">
                <%= render partial: "shared/reset_password_modal", locals: { user: u } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col">
      <h5>deaktivierte User:</h5>
      <div class="list-group">
        <% @inactive_users.each do |user| %>
          <% if !user.deleted %>
            <div class="list-group-item">
              <div class="row">
                <div class="col">
                  <%= user.name %>
                </div>
                <div class="col">
                  <%= form_for admincorner_path do |f| %>
                    <%= f.hidden_field :method, value: :activate %>
                    <%= f.hidden_field :id, value: user.id %>
                    <%= f.submit "Aktivieren", class: "btn btn-info" %>
                  <% end %>
                </div>
                <div class="col">
                  <%= render partial: "shared/delete_prompt_modal", locals: { user: user, username: user.name } %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <h5>User hinzufügen:</h5>
  <p>Jeder User hat das Standardpasswort "zukunft". Das Passwort kann jederzeit geändert werden.</p>
  <%= form_for admincorner_path do |f| %>
    <%= f.hidden_field :method, value: :add_user %>
    <div class="row add-user-row">
      <div class="col">
        <%= f.label "Name:" %>
        <%= f.text_field :name, class: "add-user-field" %>
      </div>
      <div class="col">
        <%= f.submit "Hinzufügen", class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
</div>