<h1>Adminbereich</h1>
<div class="row">
  <div class="col">
    <h5>deaktivierte User:</h5>
    <div class="list-group">
      <% @inactive_users.each do |user| %>
        <div class="list-group-item">
          <div class="row">
            <div class="col">
              <%= user.name %>
            </div>
            <div class="col">
              <%= form_for admincorner_path do |f| %>
                <%= f.hidden_field :method, value: :activate %>
                <%= f.hidden_field :id, value: user.id %>
                <%= f.submit "Aktivieren", class: "btn btn-info" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col">
    <h5>aktivierte User:</h5>
    <div class="list-group">
      <% @active_users.each do |user| %>
        <div class="list-group-item">
          <div class="row">
            <div class="col">
              <%= user.name %>
            </div>
            <div class="col">
              <%= form_for admincorner_path do |f| %>
                <%= f.hidden_field :method, value: :deactivate %>
                <%= f.hidden_field :id, value: user.id %>
                <%= f.submit "Deaktivieren", class: "btn btn-info" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<h4>User hinzufügen:</h4>
<p>Jeder User hat das Standardpasswort "zukunft". Das Passwort kann jederzeit geändert werden.</p>
<%= form_for admincorner_path do |f| %>
  <%= f.hidden_field :method, value: :add_user %>
  <div class="row add-user-row">
    <div class="col">
      <%= f.label "Name:" %>
      <%= f.text_field :name, class: "add-user-field" %>
    </div>
    <div class="col">
      <%= f.submit "Hinzufügen", class: "btn btn-info" %>
    </div>
  </div>
<% end %>

<h4>Berechtigungen</h4>
<div class="list-group permissions">
  <% @users.each do |user| %>
    <div class="list-group-item">
      <div class="row">
        <div class="col">
          <%= user.name %>
        </div>
        <div class="col">
          <%= form_for admincorner_path do |f| %>
            <%= f.hidden_field :method, value: :admin_checkbox %>
            <%= f.hidden_field :id, value: user.id %>
            <div class="row">
              <div class="col-5">
                <%= f.check_box :admin, class: "admin-checkbox", checked: user.admin %>
              </div>
              <div class="col">
                <% if user.admin %>
                  <%= f.submit "Update", class: "btn btn-outline-danger" %>
                <% else %>
                  <%= f.submit "Update", class: "btn btn-outline-success" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>