<div class="d-flex align-items-center justify-content-center">
  <h1>Finanzen der Zukunft</h1>
</div>

<div class="container">
  <%= form_with method: :patch do |values| %>
    <div class="row input_row">
      <div class="col">
        <%= values.label :Wochenrate %><br>
        <%= values.text_field :rate, value: User.find(params[:id]).rate, class: "inputField" %>
      </div>
      <div class="col">
        <%= values.label :Essenskasse %><br>
        <%= values.text_field :food, value: User.find(params[:id]).food, class: "inputField" %>
      </div>
      <div class="col">
        <%= values.label :Investitionskasse %><br>
        <%= values.text_field :invest, value: User.find(params[:id]).invest, class: "inputField" %>
      </div>
      <div class="col">
        <%= values.label :Putzkasse %><br>
        <%= values.text_field :cleaning, value: User.find(params[:id]).cleaning, class: "inputField" %>
      </div>
      <div class="col">
        <%= values.label :Geputzt? %><br>
        <%= values.check_box :cleaned, checked: User.find(params[:id]).cleaned, class: "input-checkbox" %>
      </div>
      <div class="col align-self-center">
        <%= values.submit "Speichern", class: "btn btn-info finance-edit-button" %>
      </div>
    </div>
  <% end %>
</div>
