<h1>Transaction</h1>
<div class="container">
  <p>How much money do you want to send to <%= User.find(params[:id]).name %>?</p>
  <div class="row input_row">
    <div class="col-6">
      <%= form_with method: :post do |f| %>
        <%= f.label :value, "Value:" %>
        <%= f.text_field :value, placeholder: "enter value", class: "restack-text-field" %>
        </div>
        <div class="col align-self-center">
          <%= f.submit "Save" ,class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
      </div>
</div>
