<h1>Umschichtung</h1>
<div class="container">
  <p>Wie viel Geld möchtest du <%= User.find(params[:id]).name %> übertragen?</p>
  <div class="row input_row">
    <div class="col-6">
      <%= form_with method: :post do |f| %>
        <%= f.label :value, "Wert:" %>
        <%= f.text_field :value, placeholder: "Wert eintragen", class: "restack-text-field" %>
        </div>
        <div class="col align-self-center">
          <%= f.submit class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
      </div>
</div>
