<h4><%= t('awayHeadline') %></h4>
<div class="row input_row">
  <div class="col centering">
    <p><%= t('awayUntilFlavor') %></p>
  </div>
  <div class="col centering">
    <%= form_with method: :put do |form| %>
      <%= form.date_field :return_date, class: "datepickerAway"%>
      </div>
      <div class="col-8 centering">
        <%= form.submit t('save'), class: "btn btn-info"%>
    <% end %>
  </div>
</div>