<!-- Button trigger modal -->
<div class="row">
  <div class="col"></div>
  <div class="col">
    <% if Current.user.current_cleaningtask.present? || Current.user.cleaning_tasks.last_week.present? %>
      <button type="button" class="btn btn-primary cleaningButton" data-bs-toggle="modal" data-bs-target="#cleaningModal">
        <% if Current.user.current_cleaningtask.present? %>
          <%= t('cleaningButton') %>
        <% elsif Current.user.cleaning_tasks.last_week.present? %>
          <%= t('cleaningButtonLastWeek') %>
        <% end %>
      </button>
    <% end %>
  </div>
  <div class="col"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="cleaningModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog screenWidth">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cleaningModalLabel"><%= t('cleaningButton') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><%= t('cleaningQuestion') %></p>
        <%= form_with method: :patch, url: "/cleaning" do |form| %>
          <%= form.submit t('cleaningSubmit'), class: "btn btn-primary cleaningSubmitButton" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('cancel') %></button>
      </div>
    </div>
  </div>
</div>
