<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= image_tag("zukunft-logo-icon.png", :alt => "", :height => 50) %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Finanzen", root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://zukunft.rocks/">Wiki</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if Current.user %>
          <li class="nav-item">
            <%= link_to Current.user.name, edit_password_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= button_to "logout", logout_path, method: :delete, class: "btn btn-outline-dark" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Einloggen", sign_in_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
