<!-- Button trigger modal -->
<button type="button" class="btn btn-primary pwresetButton" data-bs-toggle="modal" data-bs-target= <%= "#resetpwModal#{user.id}"%>>
      <%= "Reset Passwort" %>
    </button>

<!-- Modal -->
<div class="modal fade" id= <%="resetpwModal#{user.id}"%> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog screenWidth">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetpwLabel"><%= "Passwort von #{user.name} zurücksetzen" %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><%= "Neues Passwort:" %></p>
        <%= form_for admincorner_path do |f| %>
  <%= f.hidden_field :method, value: :resetpw %>
  <%= f.hidden_field :id, value: user.id %>
  <%= f.password_field :newpw, placeholder: "#{user.name}_ist_doof123", class: "inputField", :autocomplete => :off, value: ""%>
  <%= f.submit "Reset", class: "btn btn-primary"%>
<% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('cancel') %></button>
      </div>
    </div>
  </div>
</div>

