<table class="table table-bordered table-hover table-striped table-responsible">
  <thead>
  <tr>
    <th>Name</th>
    <th>Gesamt</th>
    <th>Wochenrate</th>
    <th>Betrag Essenskasse</th>
    <th>Betrag Investitionskasse</th>
    <th>Betrag Putzkasse</th>
    <th>Geputzt?</th>
    <% if FinanceValue.where.not(:away => nil).present? %>
      <th>Weg bis zum</th>
    <% end %>
  </tr>
  </thead>
  <% @value.each do |value| %>
    <% if value.name == Current.user.name %>
      <tr class="table-info">
        <th><%= value.name %></th>
        <% if value.sum >= 100 %>
          <td class="table-danger"><%= value.sum %></td>
        <% elsif value.sum <= -100 %>
          <td class="table-success"><%= value.sum %></td>
        <% else %>
          <td><%= value.sum %></td>
        <% end %>
        <td><%= value.rate %></td>
        <td><%= value.food %></td>
        <td><%= value.invest %></td>
        <td><%= value.cleaning %></td>
        <% if value.cleaned == true %>
          <td class="ticked"><%= image_tag "tick.png" %></td>
        <% else %>
          <td></td>
        <% end %>
        <% if value.away.present? || FinanceValue.where.not(:away => nil).present? %>
          <% if value.away.present? %>
            <td class="away_date"><%= "#{value.away.day}.#{value.away.month}.#{value.away.year}" %></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
        <td>
          <%= link_to "eigene Daten ändern", edit_path, class: "btn btn-info" %>
        </td>
      </tr>
    <% else %>
      <tr>
        <th><%= value.name %></th>
        <% if value.sum >= 100 %>
          <td class="table-danger"><%= value.sum %></td>
        <% elsif value.sum <= -100 %>
          <td class="table-success"><%= value.sum %></td>
        <% else %>
          <td><%= value.sum %></td>
        <% end %>
        <td><%= value.rate %></td>
        <td><%= value.food %></td>
        <td><%= value.invest %></td>
        <td><%= value.cleaning %></td>
        <% if value.cleaned == true %>
          <td class="ticked"><%= image_tag "tick.png" %></td>
        <% else %>
          <td></td>
        <% end %>
        <% if value.away.present? || FinanceValue.where.not(:away => nil).present? %>
          <% if value.away.present? %>
            <td class="away_date"><%= "#{value.away.day}.#{value.away.month}.#{value.away.year}" %></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
        <td class="table-borderless">
          <%= link_to "Umschichtung vorschlagen", restack_path(value), class: "btn btn-outline-secondary" %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
<% FinanceValue.all.each do |v| %>
  <%= v.away.strftime('%F') unless v.away == nil %>
  <%= Date.today %>
<% end %>