<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Gesamt</th>
    <th>Wochenrate</th>
    <th>Betrag Essenskasse</th>
    <th>Betrag Investitionskasse</th>
    <th>Betrag Putzkasse</th>
  </tr>
  </thead>
  <% @value.each do |value| %>
    <% if value.name == Current.user.name %>
      <tr class="table-info">
        <th><%= value.name %></th>
        <% if value.sum >= 100 %>
          <td class="table-danger"><%= value.sum %></td>
        <% elsif value.sum <= -100 %>
          <td class="table-success"><%= value.sum %></td>
        <% else %>
          <td><%= value.sum %></td>
        <% end %>
        <td><%= text_field_tag "userWochenrate", value.rate, class: "non-editable in-place-edit" %></td>
        <td><%= text_field_tag "userEssenskasse", value.food, class: "non-editable in-place-edit" %></td>
        <td><%= text_field_tag "userInvestitionskasse", value.invest, class: "non-editable in-place-edit" %></td>
        <td><%= text_field_tag "userPutzkasse", value.cleaning, class: "non-editable in-place-edit"%></td>
        <td>
          <%= link_to "eigene Daten ändern", edit_path, class: "btn btn-outline-secondary" %>
        </td>
      </tr>
    <% else %>
        <th><%= value.name %></th>
        <% if value.sum >= 100 %>
          <td class="table-danger"><%= value.sum %></td>
        <% elsif value.sum <= -100 %>
          <td class="table-success"><%= value.sum %></td>
        <% else %>
          <td><%= value.sum %></td>
        <% end %>
        <td><%= value.rate %></td>
        <td><%= value.food %></td>
        <td><%= value.invest %></td>
        <td><%= value.cleaning %></td>
        <td class="table-borderless">
          <%= link_to "Umschichtung vorschlagen", restack_path(value), class: "btn btn-outline-secondary" %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>