<table class="table table-bordered table-hover table-striped table-responsible">
  <thead>
  <tr>
    <th>Name</th>
    <th>Gesamt</th>
    <th>Wochenrate</th>
    <th>Betrag Essenskasse</th>
    <th>Betrag Investitionskasse</th>
    <th>Betrag Putzkasse</th>
    <th>Geputzt?</th>
    <th></th>
    <% if FinanceValue.where.not(:away => nil).present? %>
      <th>Weg bis zum</th>
    <% end %>
    <% if Current.user.admin %>
      <th></th>
    <% end %>
  </tr>
  </thead>
  <% @value.each do |value| %>
    <% if User.find(value.user_id).active %>
      <% if value.name == Current.user.name %>
        <tr class="table-info">
          <th><%= value.name %></th>
          <% if value.sum >= 100 %>
            <td class="table-danger"><%= number_with_precision(value.sum, precision: 2, strip_insignificant_zeros: true) %></td>
          <% elsif value.sum <= -100 %>
            <td class="table-success"><%= number_with_precision(value.sum, precision: 2, strip_insignificant_zeros: true) %></td>
          <% else %>
            <td><%= number_with_precision(value.sum, precision: 2, strip_insignificant_zeros: true) %></td>
          <% end %>
          <td><%= value.rate %></td>
          <td><%= number_with_precision(value.food, precision: 2, strip_insignificant_zeros: true) %></td>
          <td><%= number_with_precision(value.invest, precision: 2, strip_insignificant_zeros: true) %></td>
          <td><%= value.cleaning %></td>
          <% if value.cleaned == true %>
            <td class="ticked"><%= image_tag "tick.png" %></td>
          <% else %>
            <td></td>
          <% end %>
          <% if value.away.present? || FinanceValue.where.not(:away => nil).present? %>
            <% if value.away.present? %>
              <td class="away_date"><%= "#{value.away.day}.#{value.away.month}.#{value.away.year}" %></td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
          <td>
            <%= form_with url: edit_path(value.id), method: :get do |f| %>
              <%= f.submit "eigene Daten ändern", class: "btn btn-info" %>
            <% end %>
          </td>
          <% if Current.user.admin %>
            <td></td>
          <% end %>
        </tr>
      <% else %>
        <tr>
          <th><%= value.name %></th>
          <% if value.sum >= 100 %>
            <td class="table-danger"><%= number_with_precision(value.sum, precision: 2, strip_insignificant_zeros: true) %></td>
          <% elsif value.sum <= -100 %>
            <td class="table-success"><%= number_with_precision(value.sum, precision: 2, strip_insignificant_zeros: true) %></td>
          <% else %>
            <td><%= number_with_precision(value.sum, precision: 2, strip_insignificant_zeros: true) %></td>
          <% end %>
          <td><%= value.rate %></td>
          <td><%= number_with_precision(value.food, precision: 2, strip_insignificant_zeros: true) %></td>
          <td><%= number_with_precision(value.invest, precision: 2, strip_insignificant_zeros: true) %></td>
          <td><%= value.cleaning %></td>
          <% if value.cleaned == true %>
            <td class="ticked"><%= image_tag "tick.png" %></td>
          <% else %>
            <td></td>
          <% end %>
          <% if value.away.present? || FinanceValue.where.not(:away => nil).present? %>
            <% if value.away.present? %>
              <td class="away_date"><%= "#{value.away.day}.#{value.away.month}.#{value.away.year}" %></td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
          <td class="table-borderless">
            <%= link_to "Umschichtung vorschlagen", restack_path(value), class: "btn btn-outline-secondary" %>
          </td>
          <% if Current.user.admin %>
            <td>
              <%= form_with url: edit_path(value.id), method: :get do |f| %>
                <%= f.submit "Fremde Daten ändern", class: "btn btn-info" %>
              <% end %>
            </td>
            </tr>
          <% end %>
      <% end %>
    <% end %>
  <% end %>
</table>
<table class="table table-bordered table-hover table-striped table-responsible sum">
  <tr>
    <th>Gesamt</th>
    <td></td><td></td>
    <% @value.each do |value| %>
      <% food_sum = 0.0 %>
      <% food_sum += value.food %>
      <%= food_sum %>
    <% end %>
  </tr>
</table>