<div class="table-responsive">
<table class="table table-bordered table-hover table-striped table-responsible table-overview">
  <thead>
  <tr>
    <th><%= t('name') %></th>
    <th><%= t('sum') %></th>
    <th><%= t('rate') %></th>
    <th><%= t('food') %></th>
    <th><%= t('invest') %></th>
    <th><%= t('cleaning') %></th>
    <th><%= t('cleaned?') %></th>
    <% if User.where.not(:away => nil).present? %>
      <th><%= t('awayUntil') %></th>
    <% end %>
    <th></th>
    <% if Current.user.admin %>
      <th></th>
    <% end %>
  </tr>
  </thead>
  <% @user.order(:name).each do |user| %>
    <%= render partial: "shared/table_item", object: user unless user.deleted %>
  <% end %>
  <tr>
    <th><%= t('overallSum') %></th>
    <td></td><td></td>
    <td>
      <%= number_with_precision(@non_deleted_users.map(&:food).sum, precision: 2, strip_insignificant_zeros: true) %>
    </td>
    <td>
      <%= number_with_precision(@non_deleted_users.map(&:invest).sum, precision: 2, strip_insignificant_zeros: true) %>
    </td>
    <td>
      <%= number_with_precision(@non_deleted_users.map(&:cleaning).sum, precision: 2, strip_insignificant_zeros: true) %>
    </td>
    <td></td><td></td>
  </tr>
</table>
</div>
