<div class="d-flex align-items-center justify-content-center">
  <h1><%= t('headline') %></h1>
</div>
<div class="container">
  <% if Current.user.present? %>
    <% if @pending_restack != nil %>
      <%= render partial: "shared/restack_prompt" %>
    <% end %>
    <div class="row">
      <div class="col">
        <%= render partial: "shared/shopping_modal" %>
      </div>
      <div class="col">
        <%= render partial: "shared/cleaning_modal" %>
      </div>
    </div>

    <%= render partial: "shared/table" %>

      <%= render partial: "shared/away" %>
  <% end %>
</div>
